/* index.css */

@import "variables.css";

.main-image {
    position: relative;
}

.main-image__popup {
    background-color: var(--color-popup-bg);
    color: var(--color-popup-text);
    padding: 0.25em 0.5em;
    text-shadow: 2px 2px 5px var(--border-color);
    border: 1px solid var(--color-popup-border);
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 20px;
    animation: animationDeFolie 0.5s ease-in-out forwards;
    animation-delay: .5s;
}

@keyframes animationDeFolie {
    0% {
        top: 20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }
    
    60% {
        top: 70px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }
    
    100% {
        opacity: 1;
        top: 60px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}

.about__block {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: var(--gap);
    flex-wrap: wrap;
}

.about__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
}

.about__img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: 0 0 5px var(--border-color);
    transition: transform ease-in-out .2s;
}

.about__img:hover {
    transform: scale(1.02);
}

.about__block {
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: transform var(--transition), 
                box-shadow 0.5s ease-in-out;
}

.about__block:hover {
    box-shadow: var(--shadow-hover);
    transform: scale(1.01);
}

.about__block:nth-child(odd) {
    background-color: var(--color-surface-faded1);
}

.about__block:nth-child(even) {
    background-color: var(--color-surface-faded3);
}

.about__trivia {
    margin: var(--gap);
}

.about__trivia-answer {
    margin-top: 1em;
}