@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Nunito&display=swap');

/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select,
option {
    font: inherit;
}

/* VARIABLES */
:root {
    --ff-base: "Nunito", sans-serif;
    --ff-head: "Sriracha", cursive;
    --fs-base: clamp(1rem, 2vh, 1.5rem);
    --fs-small: clamp(.75rem, 1.75vh, 1.1rem);
    --fs-large: clamp(1.15rem, 2.4vh, 1.65rem);

    --color-bg: #333;
    --color-bg-dark: #000;
    --color-bg-gradient: linear-gradient(to bottom, var(--color-bg-dark), gray);
    --color-text: whitesmoke;
    --color-text-dark: #000;
    --color-text-highlight: #fff;
    --color-surface: whitesmoke;
    --color-surface-darker: rgb(220, 220, 220);
    --color-surface-faded1: rgba(255,255,255,0.05);
    --color-surface-faded2: rgba(255,255,255,0.10);
    --color-surface-faded3: rgba(255,255,255,0.15);
    --color-nav-bg: rgb(20,20,20);
    --color-link: var(--color-text-highlight);
    --color-link-hover: orange;
    --color-link-active: rgb(252,200,103);
    --color-hamburger: #ddd;
    --color-hamburger-checked: #888;

    --color-btn: var(--color-surface);
    --color-btn-hover: rgb(212,212,212);
    --color-btn-active: rgb(176,176,176);
    --color-dark-btn: rgba(55,55,55,0.65);
    --color-dark-btn-hover: rgba(55,55,55,0.55);
    --color-dark-btn-active: rgba(55,55,55,0.45);

    --color-popup-bg: rgba(138,29,29,0.75);
    --color-popup-border: rgb(111,24,24);
    --color-popup-text: #222;


    --border-color: whitesmoke;
    --border: 1px solid var(--border-color);
    --radius: 15px;


    --pad-v: 0.25em;
    --pad-h: 2.5%;
    --gap: clamp(1em, 2.5vh, 1.5em) 0;


    --shadow: 0 0 8px rgba(0,0,0,.5);
    --shadow-hover: 0 0 8px rgba(0,0,0,.8);
    --shadow-top: 0 2px 8px rgba(0,0,0,.4);
    --shadow-top-hover: 0 2px 8px rgba(0,0,0,.5);
    --shadow-top-active: 0 2px 8px rgba(0,0,0,.7);
    --transition: 0.5s cubic-bezier(0.75,0.2,0.05,1.0);
} 


/* GENERAL STYLES */
html {
    scroll-behavior: smooth;
    font-size: var(--fs-base);
    font-family: var(--ff-base);
    background: var(--color-bg-gradient);
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--border);
    border-right: var(--border);
    box-shadow: 0 0 10px var(--border-color);
}


h1,
h2,
h3 {
    font-family: var(--ff-head);
    font-weight: bold;
    letter-spacing: 0.02em;
}

h1,
h2 {
    text-align: center;
}

h2,
h3 {
    margin-bottom: 1em;
    color: var(--color-text-highlight);
}

p {
    line-height: 1.5;
}

a {
    transition: color ease-in-out .5s;
}

a:any-link {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

a:active {
    color: var(--color-link-active);
}


/* HEADER */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: var(--color-bg-dark);
    color: var(--color-text-highlight);
    padding: var(--pad-v) var(--pad-h);
}

.header__h1::before {
    content: '🍜 '
}

.header__h1::after {
    content: ' 🍜'
}

/* NAV */
.nav__checkbox {
    position: absolute;
    top: 2.2vh;
    left: .65rem;
    width: 2.5rem;
    height: 2rem;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.nav__hamburger {
    position: absolute;
    top: 2.5vh;
    left: 1rem;
    z-index: 2;
}


.nav__span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 4px 0;
    background: var(--color-hamburger);
    border-radius: 3px;
    z-index: 1;
    
    transition: transform var(--transition),
                background-color var(--transition),
                opacity var(--transition);
}

.nav__span-first {
    transform-origin: top left;
}

.nav__span-last {
    transform-origin: bottom left;
}

.nav__checkbox:checked + .nav__hamburger .nav__span-first {
    transform: rotate(45deg) translateY(-3px);
    background-color: var(--color-hamburger-checked);
}
  
.nav__checkbox:checked + .nav__hamburger .nav__span-middle {
    opacity: 0;
}
  
.nav__checkbox:checked + .nav__hamburger .nav__span-last {
    transform: rotate(-45deg) translateY(3px);
    background-color: var(--color-hamburger-checked);
}

.nav__ul {
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 0;
    background-color: var(--color-nav-bg);
    border-bottom: var(--border);
    border-right: var(--border);
    box-shadow: 0 6px 5px -5px var(--border-color);
    padding: var(--pad-v) var(--pad-h);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform var(--transition), 
                opacity 0.5s ease;
}

.nav__checkbox:checked ~ .nav__ul {
    transform: scaleY(1);
    opacity: 1;
}

.nav__li {
    font-weight: bold;
    transition: transform ease-in-out .2s;
}

.nav__li:hover {
    transform: scale(1.1);
}


/* MAIN */
.main {
    padding: var(--pad-v) var(--pad-h);
}

.main__article {
    scroll-margin-top: 6.5rem;
    margin: var(--gap);
}

.main__article:first-child {
    margin-top: 1em;
}

.top {
    text-align: center;
    margin-bottom: 1em;
}

/* FOOTER */
.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--color-bg-dark);
    color: var(--color-text-highlight);
    padding: var(--pad-v) var(--pad-h);
    text-align: center;
}


/* index.html */
.main-image {
    position: relative;
}

.main-image__popup {
    background-color: var(--color-popup-bg);
    color: var(--color-popup-text);
    padding: 0.25em 0.5em;
    text-shadow: 2px 2px 5px var(--border-color);
    border: 1px solid var(--color-popup-border);
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 20px;
    animation: animationDeFolie 0.5s ease-in-out forwards;
    animation-delay: .5s;
}

@keyframes animationDeFolie {
    0% {
        top: 20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }
    
    60% {
        top: 70px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }
    
    100% {
        opacity: 1;
        top: 60px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}

.about__block {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: var(--gap);
    flex-wrap: wrap;
}

.about__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
}

.about__img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: 0 0 5px var(--border-color);
    transition: transform ease-in-out .2s;
}

.about__img:hover {
    transform: scale(1.02);
}

.about__block {
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: transform var(--transition), 
                box-shadow 0.5s ease-in-out;
}

.about__block:hover {
    box-shadow: var(--shadow-hover);
    transform: scale(1.01);
}

.about__block:nth-child(odd) {
    background-color: var(--color-surface-faded1);
}

.about__block:nth-child(even) {
    background-color: var(--color-surface-faded3);
}

.about__trivia {
    margin: var(--gap);
}

.about__trivia-answer {
    margin-top: 1em;
}


/* menu.html */
.menu__container {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0.1em;
    margin-bottom: 1em;
}

.menu__header,
.menu__item {
    padding: 1em;
    border: medium ridge var(--border-color);
    text-align: center;
    vertical-align: middle;
    background-color: var(--color-surface-faded1);
}

.menu__header {
    color: var(--color-text-highlight);
    font-weight: bold;
}

.menu__body-dish,
.menu__body-dish-type {
    color: var(--color-text-highlight);
    font-weight: bold;
    font-size: var(--fs-large);
    transition: transform ease-in-out .2s;
}

.menu__body-dish {
    background-color: var(--color-surface-faded3);
}

.menu__body-dish-type {
    background-color: var(--color-surface-faded2);
}

.menu__body-dish:hover,
.menu__body-dish-type:hover {
    transform: scale(1.01);
}

.menu__header--first {
    border-top-left-radius: var(--radius);
}

.menu__header--last {
    border-top-right-radius: var(--radius);
}

.menu__footer-item {
    font-size: var(--fs-small);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}


/* contact.html */
.location__map-img {
    border-radius: var(--radius);
    box-shadow: 0 0 5px var(--border-color);
    transition: transform ease-in-out .2s;
}

.location__map-img:hover {
    transform: scale(1.015);
}

.location__text,
.hours__text {
    text-align: center;
}


/* reservation.html */
.book__h2 {
    margin: 0;
}

.book__fieldset {
    border: none;
}

.book__p {
    margin: 1em 0;
}

.book__label {
    display: block;
    font-weight: bold;
}

.book__input {
    background-color: var(--color-surface);
    padding: 0.5em;
    border-radius: var(--radius);
    border-width: 2px;
    width: 100%;
    transition: transform ease-in-out .2s;
}

.book__input:hover {
    transform: scaleX(1.015);
}

.book__input:focus {
    background-color: var(--color-surface-darker);
    transform: scaleX(1.015);
}

.book__button {
    padding: 0.5em;
    margin: 0 .25em;
    border-radius: var(--radius);
    background-color: var(--color-btn);
    color: var(--color-text-dark);
    font-weight: bold;
    transition: transform ease-in-out .2s;
}

.book__button:hover {
    background-color: var(--color-btn-hover);
    transform: scale(1.1);
}

.book__button:active {
    background-color: var(--color-btn-active);
    transform: scale(1.1);
}   


.hours__text dt {
    padding-top: .5em;
    font-weight: bold;
}

.location,
.hours {
    background: var(--color-surface-faded2);
    padding: 1.5rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: transform ease-in-out .2s;
}

.location:hover,
.hours:hover {
    transform: scale(1.01);
    box-shadow: var(--shadow-hover);
}


@media screen and (min-width: 1111px) {
    .top__a {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        background-color: var(--color-dark-btn);
        padding: 0.75em 1em;
        border-radius: 50px;
        box-shadow: var(--shadow-top);
        transition: transform ease-in-out 0.2s,
                    box-shadow ease-in-out 0.2s,
                    background-color ease-in-out 0.2s,
                    color ease-in-out 0.2s;
    }
    
    .top__a:hover {
        background-color: var(--color-dark-btn-hover);
        box-shadow: var(--shadow-hover);
        transform: translateY(-2px) scale(1.02); 
    }
    
    .top__a:active {
        background-color: var(--color-dark-btn-active);
        box-shadow: var(--shadow-top-active);
        transform: scale(1.1);
    } 
}