@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Nunito&display=swap');

/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select,
option {
    font: inherit;
}

/* VARIABLES */
:root {
    --FF: "Nunito", sans-serif;
    --FF-HEADINGS: "Sriracha", cursive;
    --FS: clamp(1rem, 2vh, 1.5rem);
    --SMALL-FS: clamp(.75rem, 1.75vh, 1.1rem);
    --LARGER-FS: clamp(1.15rem, 2.4vh, 1.65rem);


    --BGCOLOR-FADE: gray;
    --BGCOLOR: #000;
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));

    --FONT-COLOR: whitesmoke;
    --HIGHLIGHT-FONT-COLOR: rgb(255, 255, 255);
    --BODY-BGCOLOR: #333;
    --HIGHLIGHT-BGCOLOR: rgb(255, 255, 255, 0.1);

    --HEADER-BGCOLOR: var(--BGCOLOR);
    --HEADER-FONT-COLOR: var(--HIGHLIGHT-FONT-COLOR);
    
    --NAV-BGCOLOR: rgb(20, 20, 20);
    --NAV-FONT-COLOR: var(--HIGHLIGHT-FONT-COLOR);

    /* --POPUP-BGCOLOR: rgba(51, 178, 51, 0.75); */
    --POPUP-BGCOLOR: rgba(138, 29, 29, 0.75);
    --POPUP-BORDER-COLOR: rgb(111, 24, 24);
    --POPUP-FONT-COLOR: #222;
    --POPUP-BORDER: 1px solid var(--POPUP-BORDER-COLOR);

    --BUTTON-BGCOLOR: whitesmoke;
    --BUTTON-HOVER-BGCOLOR: rgb(212, 212, 212);
    --BUTTON-ACTIVE-BGCOLOR: rgb(176, 176, 176);
    --BUTTON-FONT-COLOR: #000;

    --DARK-BUTTON-BGCOLOR: rgba(55, 55, 55, 0.65);
    --DARK-BUTTON-HOVER-BGCOLOR: rgb(55, 55, 55, 0.55);
    --DARK-BUTTON-ACTIVE-BGCOLOR: rgb(55, 55, 55, 0.45);
    --DARK-BUTTON-FONT-COLOR: #000;

    --INPUT-BGCOLOR: whitesmoke;
    --INPUT-FOCUS-BGCOLOR: rgb(220, 220, 220);

    --LINK-COLOR: var(--HIGHLIGHT-FONT-COLOR);
    --LINK-ACTIVE-COLOR: rgb(252, 200, 103);
    --LINK-HOVER-COLOR: orange;
    
    --BORDER-COLOR: whitesmoke;
    --BORDERS: 1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: 15px;


    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;

    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}


/* GENERAL STYLES */
html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}


h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    font-weight: bold;
    letter-spacing: 0.02em;
}

h1,
h2 {
    text-align: center;
}

h2,
h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-FONT-COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover {
    color: var(--LINK-HOVER-COLOR);
}

a:active {
    color: var(--LINK-ACTIVE-COLOR);
}


/* HEADER */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-FONT-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__h1::before {
    content: '🍜 '
}

.header__h1::after {
    content: ' 🍜'
}

/* NAV */
.nav {
    display: relative;
}

.nav__checkbox {
    position: absolute;
    top: 2.2vh;
    left: .65rem;
    width: 2.5rem;
    height: 2rem;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.nav__hamburger {
    position: absolute;
    top: 2.5vh;
    left: 1rem;
    z-index: 2;
}


.nav__span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 4px 0;
    background: #ccc;
    border-radius: 3px;
    z-index: 1;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.4s ease;
}

.nav__span-first {
    transform-origin: top left;
}

.nav__span-last {
    transform-origin: bottom left;
}

.nav__checkbox:checked + .nav__hamburger .nav__span-first {
    transform: rotate(45deg) translateY(-3px);
    background-color: #888;
}
  
.nav__checkbox:checked + .nav__hamburger .nav__span-middle {
    opacity: 0;
}
  
.nav__checkbox:checked + .nav__hamburger .nav__span-last {
    transform: rotate(-45deg) translateY(3px);
    background-color: #888;
}

.nav__ul {
    position: absolute;
    top: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0), opacity .5s ease;
    opacity: 0;

    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.nav__checkbox:checked ~ .nav__ul {
    transform: scaleY(1);
    opacity: 1;
}

.nav__li {
    font-weight: bold;
    transition: transform ease-in-out .2s;
}

.nav__li:hover {
    transform: scale(1.1);
}


/* MAIN */
.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__article {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main__article:first-child {
    margin-top: 1em;
}

.top {
    text-align: center;
    margin-bottom: 1em;
}

/* FOOTER */
.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}


/* index.html */
.main-image {
    position: relative;
}

.main-image__popup {
    background-color: var(--POPUP-BGCOLOR);
    color: var(--POPUP-FONT-COLOR);
    padding: 0.25em 0.5em;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    border: var(--POPUP-BORDER);
    border-radius: 5px;
    position: absolute;
    top: -100px;
    left: 20px;
    animation: animationDeFolie 0.5s ease-in-out forwards;
}

@keyframes animationDeFolie {
    0% {
        top: -10px;
        transform: skew(0deg, -5deg) scaleY(0);
    }

    60% {
        top: 40px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }

    100% {
        top: 30px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}

.about__block {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: var(--MARGIN);
    flex-wrap: wrap;
}

.about__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
}

.about__img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    border: var(--BORDERS);
    border-radius: .5rem;
    box-shadow: 0 0 5px var(--BORDER-COLOR);
    transition: transform ease-in-out .2s;
}

.about__img:hover {
    transform: scale(1.02);
}

.about__block {
    padding: 1rem;
    border-radius: var(--BORDER-RADIUS);
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: transform cubic-bezier(.7, 0, .3, 1) .5s;
}

.about__block:hover {
    box-shadow: 0 0 8px rgba(0,0,0,1);
    transform: scale(1.01);
}

.about__block:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

.about__block:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

.about__trivia {
    margin: var(--MARGIN);
}

.about__trivia-answer {
    margin-top: 1em;
}


/* menu.html */
.menu__container {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0.1em;
    margin-bottom: 1em;
}

.menu__header,
.menu__item {
    padding: 1em;
    border: medium ridge var(--BORDER-COLOR);
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.05);
}

.menu__header {
    color: var(--HIGHLIGHT-FONT-COLOR);
    font-weight: bold;
}

.menu__body-dish,
.menu__body-dish-type {
    color: var(--HIGHLIGHT-FONT-COLOR);
    font-weight: bold;
    font-size: var(--LARGER-FS);
    transition: transform ease-in-out .2s;
}

.menu__body-dish {
    background-color: rgb(255, 255, 255, 0.1);
}

.menu__body-dish-type {
    background-color: rgb(255, 255, 255, 0.15);
}


.menu__body-dish:hover,
.menu__body-dish-type:hover {
    transform: scale(1.01);
}

.menu__header--first {
    border-top-left-radius: var(--BORDER-RADIUS);
}
.menu__header--last {
    border-top-right-radius: var(--BORDER-RADIUS);
}

.menu__footer-item {
    font-size: var(--SMALL-FS);
    border-bottom-left-radius: var(--BORDER-RADIUS);
    border-bottom-right-radius: var(--BORDER-RADIUS);
}


/* contact.html */
.location__map-img {
    border-radius: var(--BORDER-RADIUS);
    box-shadow: 0 0 5px var(--BORDER-COLOR);
    transition: transform ease-in-out .2s;
}

.location__map-img:hover {
    transform: scale(1.02);
}

.location__text,
.hours__text {
    text-align: center;
}


/* reservation.html */
.book__h2 {
    margin: 0;
}

.book__fieldset {
    border: none;
}

.book__p {
    margin: 1em 0;
}

.book__label {
    display: block;
    font-weight: bold;
}

.book__input {
    background-color: var(--INPUT-BGCOLOR);
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    border-width: 2px;
    width: 100%;
    transition: transform ease-in-out .2s;
}

.book__input:hover {
    transform: scaleX(1.015);
}

.book__input:focus {
    background-color: var(--INPUT-FOCUS-BGCOLOR);
    transform: scaleX(1.015);
}

.book__button {
    padding: 0.5em;
    margin: 0 .25em;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--BUTTON-BGCOLOR);
    color: var(--BUTTON-FONT-COLOR);
    font-weight: bold;
    transition: transform ease-in-out .2s;
}

.book__button:hover {
    background-color: var(--BUTTON-HOVER-BGCOLOR);
    transform: scale(1.1);
}

.book__button:active {
    background-color: var(--BUTTON-ACTIVE-BGCOLOR);
    transform: scale(1.1);
}   


.hours__text dt {
font-weight: bold;
}

.location,
.hours {
    background: rgba(255,255,255,0.1);
    padding: 1.5rem;
    border-radius: var(--BORDER-RADIUS);
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: transform ease-in-out .2s;
}

.location:hover,
.hours:hover {
    transform: scale(1.01);
}


@media screen and (min-width: 1111px) {
    .top__a {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        background-color: var(--DARK-BUTTON-BGCOLOR);
        padding: 0.75em 1em;
        /* width: 10rem; */
        border-radius: 50px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.4);
        transition: transform ease-in-out 0.2s;
    }
    
    .top__a:hover {
        background-color: var(--DARK-BUTTON-HOVER-BGCOLOR);
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        transform: translateY(-2px) scale(1.02); 
    }
    
    .top__a:active {
        background-color: var(--DARK-BUTTON-ACTIVE-BGCOLOR);
        box-shadow: 0 2px 8px rgba(0,0,0,0.7);
        transform: scale(1.1);
    } 
}